
<!doctype html>
<html lang="ko" class="mac chrome pc">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>카카오프렌즈 공식 온라인스토어</title>
    <meta name="description" content="일상의 즐거움이 가득한 카카오프렌즈 캐릭터 상품들을 다양하게 만나는 공간"/>
    <meta name="keywords" content="카카오프렌즈, 카카오프렌즈샵, 카카오프렌즈온라인스토어, 카카오프렌즈카카오프렌즈샵온라인, 카카오프렌즈샵온라인스토어, 카카오프렌즈온라인, KAKAO FRIENDS, KAKAOFRIENDS"/>
    <meta name="naver-site-verification" content="84affd2a8bdd6162ff47c8b0f1e129ef1c2ee1f6"/>
    <link rel="shortcut icon" href="https://store.kakaofriends.com/resources/images/favicon.ico" type='image/x-ico'/>
    <link rel="stylesheet" type="text/css" href="https://store.kakaofriends.com/resources/css/fonts.css?2018e321a672597841938d150ed80052b86721kfo-store-app2.dakao.io0241"/>
    <link rel="stylesheet" type="text/css" href="https://store.kakaofriends.com/resources/css/new_common.css?2018e321a672597841938d150ed80052b86721kfo-store-app2.dakao.io0241"/>

    <meta property="og:title" content="카카오프렌즈 - 카테고리"/>
    <meta property="og:description" content="공식 온라인스토어"/>
    <meta property="og:image" content="https://t1.daumcdn.net/friends/prod/category/W000_category_all.jpg"/>
    <meta property="og:image:width" content="500"/>
    <meta property="og:image:height" content="500"/>
</head>
<body>
<div id="kakaoIndex">
    <a href="">본문 바로가기</a>
    <a href="">메뉴 바로가기</a>
</div>
<div id="kakaoWrap">
    <div id="kakaoHead" class=" " role="banner">
        <div class="inner_head">
            <h1 class="tit_head">
                <a href="" id="kakaoServiceLogo" class="img_gnb link_friends">KAKAO FRIENDS</a>
            </h1>
            <a href="" class="link_navi"><span class="img_gnb ico_navi">모바일 메뉴열기</span></a>
            <div id="kakaoGnb" role="navigation">
                <h2 class="screen_out">온라인스토어 메인메뉴</h2>
                <ul class="gnb_newfriends">
                    <li class="">
                        <a href="/page/products" class="link_gnb">상품</a>
                    </li>
                </ul>
            </div>
            <div class="wrap_util"><!-- 마이메뉴 오버 시 mypage_on 클래스 추가 -->
                <strong class="screen_out">장바구니 - 수량</strong>
                <a href="" th:data="${_id}" class="link_cart" id="purchased_list" >
                    <span class="img_gnb ico_cart"></span>
                    <span class="num_total" th:text="${length}"></span>
                </a>
            </div>
        </div>
       </div><hr class="hide"/>
    <div id="kakaoContent" class="cont_list" role="main">
        <div id="cMain">
            <div id="mFeature">
                <div class="side_menu">
                    <div role="navigation">
                        <div class="side_login">
                            <h2 class="screen_out">로그인 및 관련 설정</h2>
                            <div class="profile_user">
                                <a href="" class="link_login">로그인이 필요해요</a>
                                <span class="txt_login">카카오 간편로그인</span>
                                <a href="" class="link_tracking">비회원 주문조회</a>
                            </div>
                            <!-- 로그인화면일때 -->
                            <!-- 로그인화면일때 -->
                            <strong class="screen_out">마이 메뉴</strong>
                            <ul class="list_personal">
                                <li>
                                    <a href="" class="link_personal">
                                        <span class="img_gnb ico_cart"></span>장바구니
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="link_personal">
                                        <span class="img_gnb ico_order"></span>주문조회
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="link_personal">
                                        <span class="img_gnb ico_wish"></span>찜
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="link_personal">
                                        <span class="img_gnb ico_personal"></span>마이페이지
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 2017-11-01 배너 추가 -->
                        <a href="" class="link_eventbnr">
                            <img src="https://t1.daumcdn.net/friends/prod/banner/20180822_pen_NPbanner_M.jpg" class="thumb_g" alt=""/>
                        </a>
                        <!-- 2017-11-01 배너 추가 -->
                        <h2 class="screen_out">온라인스토어 메인메뉴</h2>
                    </div>
                    <div class="footer_side">
                        <h2 class="screen_out">서비스 이용정보</h2>
                        <a href="" class="link_info">
                            <span class="img_gnb ico_login"></span>로그인 하러가기
                        </a>
                        <small class="copyright_info">&copy; Kakao Friends Corp.</small>
                    </div>
                    <button type="button" class="btn_close"><span class="img_gnb ico_close">메뉴 닫기</span></button>
                </div>
            </div>
            <div id="mSub">
                <div class="box_intro cate_intro" style="background-color:#ffb900">
                    <div class="inner_intro">
                        <img src="https://t1.daumcdn.net/friends/prod/category/W000_category_all.jpg" class="img_intro rw_show" alt="카테고리"/>
                        <img src="https://t1.daumcdn.net/friends/prod/category/M000_category_all0.jpg" class="img_intro rw_hide" alt="카테고리"/>
                        <h2 id="kakaoBody" class="tit_intro">상품</h2>
                        <em class="emph_en">Products</em>
                    </div>
                </div>
            </div><div id="mArticle">
            <div class="cont_product">
                <div class="head_product">
                    <div class="wrap_opt">
                        <div class="opt_sort opt_product">
                            <strong class="screen_out">상품 정렬 선택</strong>
                            <a href="" class="link_selected">
                                <span class="txt_sort txt_order">신상품순</span>
                                <span class="screen_out">선택됨</span>
                                <span class="ico_friends ico_arr"></span>
                            </a>
                            <div class="box_sort">
                                <em class="screen_out">선택옵션</em>
                                <ul class="list_sort">
                                    <li class="on">
                                        <a href="" class="link_sort">신상품순</a>
                                    </li>
                                    <li class="">
                                        <a href="" class="link_sort">낮은가격순</a>
                                    </li>
                                    <li class="">
                                        <a href="" class="link_sort">높은가격순</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="check_delivery">
                        <input type="checkbox" id="checkDelivery" name="chk" class="inp_g"/>
                        <label for="checkDelivery" class="lab_g">
                            <span class="ico_friends ico_check"></span>
                            <span class="ico_friends ico_delivery"></span>글로벌 배송 가능 상품 보기
                        </label>
                    </div>
                    <p class="desc_total">총 <em class="emph_total">10개</em> 의 상품이 조회되었습니다.</p>
                </div>
                <strong class="screen_out">상품 목록</strong>
                <ul class="list_product">
                    <li th:each="i : ${#numbers.sequence(0,9)}" class="products">
                        <a href="" class="link_product">
						<span class="wrap_thumb">
                            <input type="hidden" class="mongo_id" th:value="${products[i].id}"/>
							<img th:src="${products[i].productImage}" class="thumb_g" alt=""/>
                        </span>
                            <strong class="tit_product" th:text="${products[i].productName}"></strong>
                            <em class="emph_price">
                                <span class="screen_out">금액</span><span class="current_price" th:text="${products[i].productPrice}"></span> <span class="usd_price">(8.38 USD)</span><!-- 2017-06-16 수정 -->
                            </em>
                        </a>
                        <span class="item_state">
						    <span class="ico_friends ico_nodelivery">글로벌 배송 불가</span> <!-- 해외배송 불가일때 -->
                            <span class="ico_friends ico_nocart">장바구니 담기</span>
					    </span>
                    </li>
                </ul>
                <div class="paging_friends">
                </div></div>
        </div>
            </div>
        <div id="cEtc">
            <a href="" class="link_about">
                <span class="img_about"></span>
                <strong class="tit_newfriends tit_about">카카오프렌즈 소개 바로가기</strong>
            </a>
        </div></div>
    <hr class="hide"/>
    <hr class="hide"/>



</div>
<div class="dimmed_layer"></div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/products.js"></script>
<script>
    Products.bind();
</script>